.videoList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.viedoeBoxFavoriteButton{
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .7);
    color: #000;
}
.loadingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px 0;
}
.loadingText{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}
